body {
    background-color:#0e1823;
    color:#f5f5f5;
    font-family: 'Roboto', sans-serif;
}
.menu {
    background-color:#0e1823;
}
.menu h1 {
    display: inline-block; 
    background: url('../img/logo-tc.png') no-repeat;
    width:80px;
    height:80px;
    float: left;

}
.banner {
    font-family: 'Lobster Two', cursive;
    font-size: 100px;
}

.section-cars {
    margin-left: 300px;
    background: #1b3755;
    border-bottom: 1px solid var(--border);
  }

  .card.car {
    margin-left: 0px;
    background: #1b3755;
    padding: 1px;
  }

.car-details {
    color:#f5f5f5;
    font-family: 'Roboto', sans-serif;
  }

  .car-title {
    font-weight: 700;
  }
  .car-model {
    font-size: 0.8rem;
  }

.text-input {
    color: #f5f5f5;
    
}

.header {
    margin-left: 200px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    background-color: #1b3755;
}

.bx--text-input {
    color: #f5f5f5;
}